version: '3'
services:
  rust-service:
    image: rust:latest
    tty: true
    container_name: rust_container
    command: ['./target/debug/devUserContact_api']
    working_dir: 
      /app
    volumes:
      - ./devUserContact_api:/app
    ports:
      - 8080:8080
  db-service:
    image: mariadb:latest
    container_name: mariadb_container
    tty: true
    command: ['./entrypoint_db.sh']
    environment:
      - MYSQL_DATABASE=blog_devUserContact
    volumes:
      - $DB_VOLUME_PATH:/root/mysql
    ports:
      - '3306:3306'
  proxy-service:
    image: nginx:latest
    container_name: nginx_container
    tty: true
    command: ['./entrypoint_web.sh']
    ports:
      - '8080:80'
